<style> th { background color: light grey}
.assignment3 {border: 2px; solid black; border style: solid}
.sampletext {padding: 10px; 10px; 10px; 10px}
.sampletext1 {padding: 10px; 10px; 10px; 10px}
.sampletext2 { margin: 100px; 100px; 100px; 100px}
.sampletext3 { margin: 100px; 100px; 100px; 100px}
.sampleimg1 {height:150px; width: 150px; border: 5px; dashed red; padding: 30px; 30px; 30px; 30px}
.sampleimg2 {height:50cm; width:50cm; border: 5px; dashed red; padding: 30px; 30px; 30px; 30px}
.sampleimg3 {height:25%; width:25%; border: 5px; dashed red; padding: 30px; 30px; 30px; 30px}
